.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #dad6d6;
}

.mainContainer{
    margin-bottom: 30px;
    min-height: 350px;
}

.githubScreenshot{
    width: 600px;
    padding: 10px;
}

.loginText{
    padding: 10px 0 0 10px;
    color: black;
}

.nextPreviousContainer{
    margin-top: 20px;
    padding-bottom: 150px;
}